.container {
    margin: 90px;
    margin-right: 820px;
    height: 110%;
    background: rgba(73, 166, 233, 0.5);
    display: grid;
    place-items: center;
    position: relative;
    left: 350px;
    bottom: 110px;
}

.grid {
    position: absolute;
    background-color: white;
    background-size: 250px;
    /* border: 20px solid; */
    width: 300px;
    color:blue;
    border-radius: 20px;
    text-align: center;
    min-height: 90vh;
}

img {
    width: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

h2 {
    color: rgba(6, 2, 56, 0.849);
    text-align: center;
}
.ref{
    position: relative;
    left: 90px;
    bottom: 35px;
}
a {
    color: blue;
}
.proceed {
    align-items: center;
    border-radius: 5px;
    height: 40px;
    background-color: blue;
    width: 80%;
    color: white;
}
#span_box {
    background: rgba(225, 236, 255, 0.979);
    width: 80%;
    margin-left: 30px;
    border-radius: 5px;
}
.annual {
    position: relative;
    right: 25px;
    bottom: 8px;
    color: black;
}
.dollar {
    position: relative;
    right: 24px;
    bottom: 7px;
    color: rgba(6, 2, 56, 0.849);
}
.song {
    position: relative;
    right: 90px;
    top: 24px;
    width: 31px;
    border-radius: 50%;
}
.navigate img {
    position: relative;
    left: 420px;
    bottom: 10px;
    width: 20px;
    display: inline-block;
    justify-content: space-between;
    width: 20px;
    margin: 20px;
}